.app_dark_theme {
  --bg-color: #050545;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #178017;
  --secondary-color: #12bf12;
  --inverted-primary-color: #0754fd;
  --inverted-secondary-color: #0232c2;
}
