:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #050545;
  --primary-color: #0232c2;
  --secondary-color: #0551fa;
  --inverted-primary-color: #12bf12;
  --inverted-secondary-color: #178017;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #f7f7ff;

  // card
  --card-bg: #dcdcea;

  // listbox
  --listbox-bg: #dcdcea;
}
